*{
     margin:0;
     padding:0;

}
 body {
display: flex;
  align-items: center;


}
 html {
     height:1080px;
     width: 1920px;
     overflow:hidden;
     
}
.parent
{	
	display: flex;
	align-items: center;
	height: 1080px;
	width: 1920px;
}
.child1{
	height:500px;
	width:920px;
	align-self: flex-end;
	border: 20px solid white;
}
#child1-son
{
	background-image: url("images/background.jpg");
	height: 99%;
	width: 30%;
	float: right;
	border: 4px solid #ff9000;
	border-radius: 10% / 50%;
}
.child2{
	height:500px;
	width:920px;
	align-self: baseline;
	position: absolute;
	right:  0px;
	border: 20px solid white;
}
#child2-son
{
	background-image: url("images/background.jpg");
	height: 99%;
	width: 30%;
	float: right;
	border: 4px solid #ff9000;
	border-radius: 10% / 50%;
}
.child3{
	height:500px;
	width:920px;
	position: absolute;
	align-self:baseline;
	border: 20px solid white;
}
#child3-son
{
	background-image: url("images/background.jpg");
	height: 99%;
	width: 30%;
	float: right;
	border: 4px solid #ff9000;
	border-radius: 10% / 50%;
}
.child4{
	height:500px;
	width:920px;
	position: absolute;
	align-self: flex-end;
	right: 0;
	border: 20px solid white;
}
#child4-son
{	
	background-image: url("images/background.jpg");
	height: 99%;
	width: 30%;
	float: right;
	border: 4px solid #ff9000;
	border-radius: 10% / 50%;
}
.clip {
	display: block;
    width: 69%;
    height: 100%;
    overflow: hidden;
}
 img {
 	height: 100%;
 	width: 100%;
 }
 h1 {
  
  letter-spacing: 1px;
  text-shadow: 5px 3px #af5d00;
 line-height: 50px; 
 font-family: 'Abril Fatface', cursive;
 font-size: 50px;
 -webkit-text-decoration-style: solid;
         text-decoration-style: solid;
 padding-bottom: 10px;
 color:#f9cf93;
  text-transform: uppercase;
  text-align: center;
 word-wrap: break-word;
}
.underline  {
   border-bottom: solid 7px #ff9000;
 }
p {
color:#ffd69e;
font-weight: 100;
font-size: 20px;
font-family: 'Lato', sans-serif;
word-wrap: break-word;
padding-left: 15px;
padding-right: 10px;
padding-bottom: 20px;
text-align: center;
}
h5 {
  color:#e8bc7f;
  font-weight: 999;
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  padding: 20px;
}